/* Estilos globales */
* {
    margin: 0; /* Elimina el margen por defecto de todos los elementos */
    box-sizing: border-box; /* Asegura que el padding y los bordes no aumenten el ancho/alto total del elemento */
}

/* Estilos del cuerpo de la página */
body {
    font-family: 'Arial', sans-serif; /* Define la fuente principal de la página */
    line-height: 1.6; /* Establece la altura de línea (espacio entre líneas de texto) */
    background-color: #f4f4f4; /* Aplica un color de fondo claro al cuerpo de la página */
    display: flex; /* Utiliza Flexbox para alinear los elementos de la lista en una fila */
    flex-direction: column; /* Alinea los hijos (cabecera, navegación, etc.) verticalmente */
    min-height: 100vh; /* Asegura que la altura mínima de la página sea la del viewport (pantalla) */
}

/* Estilos de la cabecera de la página */
header {
    background-color: #333; /* Establece un color de fondo para la cabecera */
    color: white; /* Define el color del texto de la cabecera como blanco */
    padding: 1.5rem 0; /* Añade un relleno (espacio) vertical de 1.5rem arriba y abajo */
    text-align: center; /* Alinea el texto de la cabecera al centro */
}

/* Estilos del ontenido principal de la página */
main {
    flex: 1; /* Hace que el contenido principal crezca para llenar el espacio disponible ¡¡¡IMPORTANTE!!!*/
    padding: 0 2rem 2rem 2rem; /* Añade un relleno de 2rem alrededor del contenido principal */
}


/* Estilos del menú de navegación */

nav {
    background-color: #555; /* Aplica un color de fondo gris oscuro al área de navegación */
    padding: 1rem 0; /* Añade un relleno vertical de 1rem al menú de navegación ¡¡¡IMPORTANTE!!!*/
}

nav ul {
    list-style: none; /* Elimina los puntos o viñetas de la lista del menú */
    display: flex; /* Utiliza Flexbox para alinear los elementos de la lista en una fila */
    justify-content: center; /* Centra los elementos de la lista horizontalmente */
}

nav ul li {
    margin: 0 1.5rem; /* Añade un margen horizontal de 1.5rem entre cada elemento del menú */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Fin de los estilos del menú de navegación */

section {
    padding: 20px;
}

section h2 {
    color: #333;
}

article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

/* Estilos del pie de página */
footer {
    background-color: #333; /* Aplica color al pie de página */
    color: white; /* Establece el color del texto del pie de página en blanco */
    text-align: center; /* Centra el texto en el pie de página */
    padding: 1rem 0; /* Añade un relleno vertical de 1rem al pie de página */
    font-size: 0.9rem; /* Define un tamaño de fuente más pequeño para el texto del pie de página */
}

/* Estilos del enlace de privacidad que hay en el pie de página */
#enlaceprivacidad {
    color: #ddd;
}