/* Estilos globales */
* {
    margin: 0; /* Elimina el margen por defecto de todos los elementos */
    box-sizing: border-box; /* Asegura que el padding y los bordes no aumenten el ancho/alto total del elemento */
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif; /* Define la fuente principal de la página */
    line-height: 1.6; /* Establece la altura de línea (espacio entre líneas de texto) */
    background-color: #f4f4f4; /* Aplica un color de fondo claro al cuerpo de la página */
    display: flex; /* Utiliza Flexbox para alinear los elementos de la lista en una fila */
    flex-direction: column; /* Alinea los hijos (cabecera, navegación, etc.) verticalmente */
    min-height: 100vh; /* Asegura que la altura mínima de la página sea la del viewport (pantalla) */
}

/* Contenido principal */
main {
    flex: 1; /* Hace que el contenido principal crezca para llenar el espacio disponible ¡¡¡IMPORTANTE!!!*/
    padding: 0 2rem 2rem 2rem; /* Añade un relleno de 2rem alrededor del contenido principal */
}

/* Estilos del encabezado */
header {
    background-color: #4CAF50; /* Establece un color de fondo verde para la cabecera */
    color: white; /* Define el color del texto de la cabecera como blanco */
    padding: 1.5rem 0; /* Añade un relleno (espacio) vertical de 1.5rem arriba y abajo */
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos del contenedor principal */
.container {
    display: flex; /* Usar flexbox para dividir la página */
}

/* Estilos de las secciones de la izquierda, centro y la derecha de la página*/
.left, .center, .right {
    flex: 1; /* Cada sección tomará el mismo espacio */
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding en el cálculo del ancho */
}

.left {
    background-color: #f2f2f2; /* Color de fondo gris claro */
}

.center {
    background-color: #e7f3fe; /* Color de fondo azul claro */
}

.right {
    background-color: #f9f9f9; /* Color de fondo gris más claro */
}

/* Estilos del pie de página */
footer {
    background-color: #4CAF50; /* Verde */
    background-color: #4CAF50; /* Aplica el mismo color verde de la cabecera al pie de página */
    color: white; /* Establece el color del texto del pie de página en blanco */
    text-align: center; /* Centra el texto en el pie de página */
    padding: 1rem 0; /* Añade un relleno vertical de 1rem al pie de página */
    font-size: 0.9rem; /* Define un tamaño de fuente más pequeño para el texto del pie de página */
}

